<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1 id="name">OH MY GOSH</h1>
<ul>
	<% array.forEach(function(array) { %>
        <li><%= array["Beyonce"] %></li>
    <% }); %>
</ul>
<p></p>
</body>
</html>